.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu,
.quiz {
  font-size: 15px;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
